@import 'variables';

.card-course-item {
  margin-bottom: 16px;
}

.user-avata {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all-options {
  width: 140px;
  margin: 0 16px;
}
